COMPOSE_PROJECT_NAME=ppg-mqtt-system
FRONTEND_PORT=9100
REGISTRATION_BIND_IP=127.0.0.1
REGISTRATION_HOST_PORT=9080
ALLOW_DEVICE_REGISTRATION=true
STORAGE_PASSWORD=ganti-dengan-password-storage-yang-kuat
POSTGRES_DB=ppg
POSTGRES_USER=ppg
POSTGRES_PASSWORD=ganti-dengan-password-database-yang-kuat
POSTGRES_HOST_PORT=55432
TZ=Asia/Jakarta
