COMPOSE_PROJECT_NAME=ppg-mqtt-system
FRONTEND_PORT=9100
STORAGE_PASSWORD=ganti-dengan-password-storage-yang-kuat
POSTGRES_DB=ppg
POSTGRES_USER=ppg
POSTGRES_PASSWORD=ganti-dengan-password-database-yang-kuat
POSTGRES_HOST_PORT=55432
TZ=Asia/Jakarta
